@page "/"
@inject HttpClient Http
@using Portofolio.Models;


@if (resume == null)
{
    <p>Loading... Please wait.</p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-12 bg-dark text-white py-5 text-center">

                <!-- Left Column - Profile Information -->
                <div class="profile-pic-container">

                    <!-- Profile Picture -->
                    <img class="profile-pic img-fluid rounded-circle" src="Imagens/FotoCV.jpg" alt="@resume.Name" width="120" />
                </div>
                <div class="header-text mt-3">

                    <!-- Profile Details -->
                    <h2 class="profile-name">@resume.Name</h2>
                    <h4 class="profile-title">@resume.Role</h4>
                    <div class="profile-contacts d-flex flex-wrap align-items-center justify-content-center mt-3">
                        <div class="profile-contacts-group d-flex">
                            <div class="d-flex mr-3">
                                <i class="bi bi-telephone-fill"></i>
                                <p class="m-0">@resume.Number</p>
                            </div>
                            <pre> | </pre>
                            <div class="d-flex ml-3">
                                <i class="bi bi-envelope-fill"></i>
                                <a href="mailto:@resume.Email" class="m-0 link-light">
                                    <span>@resume.Email</span>
                                </a>
                            </div>
                        </div>
                    </div>
                   
                    <div class="profile-location mt-3">
                        <!-- Location -->
                        <i class="bi bi-geo-alt-fill"></i>
                        <p class="m-0">@resume.Adress</p>
                    </div>

                    <div class="profile-socials d-flex align-items-center justify-content-center mt-3">
                        <ul>
                            <!-- Social Links -->
                            @foreach (var item in resume.Links)
                            {
                                <li list-style-type: none>
                                    <a href="@item.Url" target="_blank" class="btn btn-dark"> @item.Platform</a>

                                </li>
                            }
                        </ul>
                        
                    </div>
                </div>
            </div>
            <!-- Right Column - Description About Me -->
            <div class="col-12 mt-5">
                <div class="description-container text-center">
                    <h3>About Me</h3>
                    <p>@resume.Description</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="body-container d-flex flex-wrap justify-content-center">
                    <div class="body-left">
                        <!-- Education Container -->
                        <div class="education-container mt-4">
                            <h4 class="education-title text-center">
                                <i class="bi bi-mortarboard-fill"></i>
                                Education
                            </h4>
                            <ul class="list-group">
                                @foreach (var item in resume.Educations)
                                {
                                    <li class="list-group-item mb-3">
                                        <div>
                                            <h5 class="mb-1">@item.Course</h5>
                                            <p class="mb-0">@item.School</p>
                                        </div>
                                        <ul>
                                            <li>
                                                <div class="text-muted">
                                                    <i class="bi bi-calendar"></i>
                                                    @item.Start to @(item.End == null ? "Now" : item.End)
                                                </div>
                                            </li>
                                        </ul>

                                    </li>
                                }
                            </ul>
                        </div>

                        <!-- Work History Container -->
                        <div class="skills-container mt-4">
                            <h4 class="skills-title text-center">
                                <i class="bi bi-puzzle-fill"></i>
                                Work History
                            </h4>
                            <ul class="list-group">
                                @foreach (var work in resume.Works)
                                {
                                    <li class="list-group-item mb-3">
                                        <h5 class="mb-1">@work.Name</h5>
                                        <p class="mb-0">@work.Description</p>
                                        <ul>
                                            <li>
                                                <div class="text-muted">
                                                    <i class="bi bi-calendar"></i>
                                                    @work.Start to @(work.End == null ? "Now" : work.End)
                                                </div>
                                            </li>
                                        </ul>

                                    </li>
                                }
                            </ul>
                        </div>

                        <!--Languages Container -->
                        <div class="skills-container mt-4">
                            <h4 class="skills-title text-center">
                                <i class="bi bi-puzzle-fill"></i>
                                Languages
                            </h4>
                            <ul class="list-group">
                                @foreach (var language in resume.Languages)
                                {
                                    <li class="list-group-item mb-3">
                                        <h5 class="mb-1">@language.Name</h5>
                                        <ul>
                                            <li>
                                                <div class="text-muted">
                                                    <p class="mb-0">@language.Skill_Level</p>
                                                </div>
                                            </li>
                                        </ul>


                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="body-right">
                    <!-- Skills Container -->
                    <div class="skills-container mt-4">
                        <h4 class="skills-title text-center">
                            <i class="bi bi-puzzle-fill"></i>
                            Skills
                        </h4>
                        <ul class="list-group">
                            @foreach (var skill in resume.Skills)
                            {
                                <li class="list-group-item mb-3">
                                    <h5 class="mb-1">@skill.Name</h5>
                                    @if(!String.IsNullOrWhiteSpace(skill.Description))
                                    {
                                        <ul>
                                        <li>
                                            <div class="text-muted">
                                                <p class="mb-0">@skill.Description</p>
                                            </div>
                                        </li>
                                    </ul>
                                    }
                                    
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

}



@code {
    private ResumeModel? resume;
    protected override async Task OnInitializedAsync()
    {
        resume = await Http.GetFromJsonAsync<ResumeModel>("data/resume.json");
    }

}