@page "/"
@inject HttpClient Http
@using Portfolio.Models;


@if (resume == null)
{
    <p>Loading... Please wait.</p>
}
else
{
    <div class="container">

        <div class="row bg-dark text-white align-items-center justify-content-center text-center oval" style="min-height:450px;">
            <div class="col">

                <div class="row-4">
                    <img class="rounded-circle m-2" src="Imagens/FotoCV.jpg" alt="@resume.Name" width="170" />
                </div>
                <div class="row-8">
                    <h2 class="display-3">@resume.Name</h2>
                    <h4 class="lead">@resume.Role</h4>

                    <div class="my-4">
                        <p class="m-0">@resume.Adress</p>
                    </div>
                </div>



            </div>
            <div class="col">

                <div class="row">

                    <p class="m-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                        </svg>@resume.Number
                    </p>
                </div>
                <div class="row">
                    
                    <a href="mailto:@resume.Email" class="m-3 link-light">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
                            </svg> @resume.Email
                        </span>
                    </a>
                </div>

                



                <div class="d-flex align-items-center justify-content-center lead mt-2">
                    <ul>
                        @foreach (var item in resume.Links)
                        {
                            <li list-style-type: none>

                                <a href="@item.Url" target="_blank" class="btn btn-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link" viewBox="0 0 16 16">
                                        <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9q-.13 0-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z" />
                                        <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4 4 0 0 1-.82 1H12a3 3 0 1 0 0-6z" />
                                    </svg> @item.Platform
                                </a>

                            </li>
                        }
                    </ul>

                </div>
            </div>

        </div>
        <div class="row text-center my-5">

            <h3 class="display-3">About Me</h3>
            <p class="lead ">@resume.Description</p>
        </div>
        <div class="row mt-5">
            <hr />
            <p></p>
            <hr />
        </div>
        <div class="row">
            <div class="col border-end">
                <div class="body-container d-flex flex-wrap justify-content-center">
                    <div class="body-left">
                        <div class="mt-4">
                            <h4 class="display-6 text-center">
                                <img src="./icons/school.svg" />
                                Education
                            </h4>
                            <ul class="list-group">
                                @foreach (var item in resume.Educations)
                                {
                                    <li class="list-group-item ">
                                        <div>
                                            <h5 class="mb-1 lead" style="color:black"><strong>@item.Course</strong></h5>
                                            <p class="mb-0 lead" style="color:black">@item.School</p>
                                        </div>
                                        <ul>
                                            <li>
                                                <div class="text-muted">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                                                    </svg>                                                   
                                                    @item.Start - @(item.End == null ? "Now" : item.End)
                                                </div>
                                            </li>
                                        </ul>

                                    </li>
                                }
                            </ul>
                        </div>

                        <div class="mt-4">
                            <h4 class="display-6 text-center">
                                <img src="./icons/work.svg" />
                                Work History
                            </h4>
                            <ul class="list-group">
                                @foreach (var work in resume.Works)
                                {
                                    <li class="list-group-item">
                                        <h5 class="mb-1 lead" style="color:black"><strong>@work.Name</strong></h5>
                                        <p class="mb-0 lead" style="color:black">@work.Description</p>
                                        <ul>
                                            <li>
                                                <div class="text-muted">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                                                    </svg>
                                                    @work.Start - @(work.End == null ? "Now" : work.End)
                                                </div>
                                            </li>
                                        </ul>

                                    </li>
                                }
                            </ul>
                        </div>

                        <div class="mt-4">
                            <h4 class="display-6 text-center">
                                <img src="./icons/language.svg" />
                                Languages
                            </h4>
                            <ul class="list-group">
                                @foreach (var language in resume.Languages)
                                {
                                    <li class="list-group-item ">
                                        <h5 class="mb-1 lead" style="color:black">
                                            <img src="./icons/tarnslate.svg" />
                                            <strong>@language.Name</strong>
                                        </h5>
                                        <ul>
                                            <li>
                                                <div class="text-muted">
                                                    <p class="mb-0">@language.Skill_Level</p>
                                                </div>
                                            </li>
                                        </ul>


                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col border-start">
                <div>
                    <div class=" mt-4">
                        <h4 class="display-6 text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cpu" viewBox="0 0 16 16">
                                <path d="M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0m-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5z" />
                            </svg>
                            Skills
                        </h4>
                        <ul class="list-group">
                            @foreach (var skill in resume.Skills)
                            {
                                <li class="list-group-item">
                                    <h5 class="mb-1 lead" style="color:black">
                                        
                                        <strong>@skill.Name</strong>
                                        </h5>
                                    @if (!String.IsNullOrWhiteSpace(skill.Description))
                                    {

                                        <div class="text-muted">
                                            <p class="mb-0">@skill.Description</p>
                                        </div>

                                    }

                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

}



@code {
    private ResumeModel? resume;
    protected override async Task OnInitializedAsync()
    {
        resume = await Http.GetFromJsonAsync<ResumeModel>("./data/resume.json");
    }

}

